/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------------------------------------------*/
:root {
  --font-size: 1rem;
  --line-height: 1.35;
  --text-color: #262626;
  --background-color: #FFFFFF;
  --primary-color: #4385BE;
  --input-border-color: #EEE;
  --input-placeholder-color: #AAA;
}
@media (prefers-color-scheme: dark) {
  :root {
  --text-color: #D1D1D1;
  --background-color: #0E0E0F;
  --input-border-color: #222;
  --input-placeholder-color: #444;
}
}
/*----------------------------------------------------------------------------------------------------*/
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-weight: 400;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  color: var(--text-color);
  font-size: var(--font-size);
  background: var(--background-color);
  line-height: var(--line-height);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  scrollbar-width: thin;
  overflow-y: auto;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
/*----------------------------------------------------------------------------------------------------*/
body {margin: 0.5rem;}
/*----------------------------------------------------------------------------------------------------*/
h2 {
  font-size: 150%;
  font-weight: 900;
  margin-bottom: calc(var(--font-size) * var(--line-height) * 1);
}
/*----------------------------------------------------------------------------------------------------*/
label {
  line-height: var(--line-height);
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--font-size) * 0.5);
}
input[type="checkbox"]{
  margin-right: calc(var(--font-size) * 0.5);
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  input[type="checkbox"]:checked{
    background: var(--primary-color);
  }

  input[type="checkbox"]:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  input[type="checkbox"]:checked:after{
    left: calc(100% - 1.5em);
  }
/*----------------------------------------------------------------------------------------------------*/
input[type=text] {
  margin-left: calc(var(--font-size) * 0.5);
  margin-bottom: calc(var(--font-size) * 0.5);
  font-size: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 1px 3px;
  color: var(--primary-color);
  background-color: var(--background-color);
}
input[type=text]::placeholder {
  color: var(--input-placeholder-color);
}
